.superior {
    padding-inline: 1.5rem;
    padding-block: 2rem;
    border-radius: 5px 5px 0px 0px;
    background: white;
}

.superior p:nth-of-type(1) {
    font-weight: 700;
    line-height: 1.25rem;
    color: var(--bright-yellow);
    margin-bottom: 1rem;
}

.superior p:nth-of-type(2) {
    line-height: 1.625rem;
    color: var(--grayish-blue);
    font-size: 14px;
}

.esquerda {
    background: var(--cyan);
    padding: 1.5rem;
    border-bottom: 5px;
}
.mes p:nth-of-type(1) {
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 2.375rem;
}

.esquerda p:nth-of-type(2) {
    color: rgba(255, 255, 255, 0.5);
    margin-left: 0.75rem;
}

.mes {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}

.esquerda>p {
    color: white;
    line-height: 1.625rem;
    margin-bottom: 1.625rem;
}

.esquerda button {
    padding-block: 1rem;
    width: 100%;
    color: white;
    font-size: 16px;
    line-height: 1.125rem;
    border: 0;
    background: var(--bright-yellow);
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
}

.direita {
    background: var(--light-cyan);
    padding: 1.5rem;
    border-bottom: 5px;
}

.direita p {
    line-height: 1.25rem;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
}