@media (min-width: 650px) {
    .inferior {
        display: flex;
    }

    .esquerda, .direita {
        width: 100%;
        padding: 2.5rem;
    }

    main {
        max-width: 640px;
        padding: 0;
    }

    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .superior {
        border-top: 8px;
        padding: 2.5rem;
    }

    h1 {
        font-size: 24px;
        
    }

    .superior p:nth-of-type(1) {
        font-size: 18px;
    }

    .superior p:nth-of-type(2) {
        font-size: 16px;
    }

    .esquerda {
        border-bottom-left-radius: 8px;
    }

    .direita {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 8px;
    }
}